.btnSection {
  background-color: rgb(0, 188, 212);
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: transparent;
  background-color: rgb(0, 188, 212);
  height: 70px;
  width: 200px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.36;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  transition: background-color 250ms linear;
}

.sectionBtn:not(:last-child) {
  margin-right: 20px;
}

.sectionBtn:hover {
  background-color: rgb(0, 151, 167);
}

.btnIcon {
  width: 25px;
  height: 25px;
}

.selected {
  position: absolute;
  bottom: 0;
  left: calc(100% / 2 - 330px);
  width: 200px;
  height: 2px;
  background-color: rgb(255, 64, 129);
  transition: left 250ms linear;
}

.done {
  left: calc(100% / 2 - 110px);
}

.all {
  left: calc(100% / 2 + 110px);
}
