.modalWindow {
  width: 300px;
  padding: 20px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button:not(:last-child) {
  margin-right: 20px;
}
